*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
background-color: rgb(245, 242, 242);
width:100%;
height: 10vh;
display: flex;
flex-direction: row;
padding: auto;
margin-bottom: 12px;
box-shadow: 0px 6px 0px 0px rgba(214, 214, 220, 0.5);
}


#container{
background-color: red;
width:100%;
height: 100vh;
display: flex;
flex-direction: row;
}


.left{
width:20%;
background-color: rgb(241, 241, 239);
}


.right{
width:80%;
background-color: #99cdbb;
padding: 20px;
}

.first{
    background-color:rgb(235, 234, 240); 
    height: 10%;
    margin: 10px;
    padding-left: 20px;
    padding-top: 20px;
}

.second{
    background-color:rgb(241, 241, 239); 
    height: 10%;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.third{
    /* background-color:rgb(206, 102, 16);  */
    height: 8%;
    margin: 10px;
}

.fourth{
    background-color:rgb(241, 241, 239); 
    height: 40%;
    margin: 10px;
}

.nav-left{
    padding: 12px 12px;
    width: 20%;
    display: flex;
    flex-direction: row;
}


.imgg {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background: url(demo-image2.png) center;
}

.text{
    color: rgb(171, 19, 19);
    margin: 9px;
    font-size: 15px;
    /* padding: 2px 12px 10px 1px; */
}

.nav-right{
    padding: 12px 12px;
    justify-content: center;
    text-align: right;
    width: 80%;
}

i{
    padding-right: 12px;
    padding-top: 8px;
    font-size: 20px;
}

.crow{
    color: #0c4b59;
}

.box{
    font-size: 15px;
    padding: 12px;
    padding-left: 18px;
    background-color: #e5ece630;
    margin-bottom: 6px;
    border-radius: 10px;
}



.details{
    width: 25%;
    align-items: center;
    text-align: center;
    justify-items: center;
    padding-top:10px;
    
}



input{
    width: 97.5%;
    height: 100%;
    
    padding-left: 20px;
    font-size: 20px;
    /* border-radius: 5px; */
    outline: none;
    /* background: whitesmoke; */
    /* border: 1px 01px 1px 1px white; */
}

.text1{
    font-size: 20px;
}


button{
    padding: 8px;
    background-color: red;
    color: white;
    border-radius: 9px;
    outline: none;
    border: 1px;
    cursor: pointer;
}


.task-row{
    background-color: #0c4b59;
    color: white;
    padding: 12px;
    margin-bottom: 12px;
}

.cycles{
    background-color: #3c9e7d;
    border: 2px;
    border-radius: 18px;
    text-align: right;
    padding: 8px;
}

.pp1{
    font-size: 23px;
    padding: 12px;
    text-align: left;
    text-transform: capitalize;
}

.pp2{
    text-align: right;
    color: #49f47c;
    background-color: blueviolet;
    border: 2px;
    padding: 8px;
    margin: 0px 12px;
    cursor: pointer;
}
.remove{
    text-align: right;
    color: #49f47c;
    background-color: blueviolet;
    border: 2px;
    padding: 8px;
    margin: 0px 12px;
    cursor: pointer;
}